/* ==UserStyle==
@name           Hide raid viewer counts on Twitch dot television
@namespace      https://freso.dk/
@version        2023.12.22.0
@description    Hides viewer counts in the raid banner message as well as the raid message in Twitch chat when the raid has gone through.
@author         Freso (https://freso.dk)
@homepageURL    https://codeberg.org/Freso/userstyle-twitch-hide-raid-viewers
@supportURL     https://codeberg.org/Freso/userstyle-twitch-hide-raid-viewers/issues
@updateURL      https://codeberg.org/Freso/userstyle-twitch-hide-raid-viewers/raw/branch/main/twitch-hide-raid-viewers.user.css
@license        AGPL-3.0-or-later
@preprocessor   stylus
@var            checkbox raid "Hide viewer counts in raid messages" 1
==/UserStyle== */

@-moz-document domain("twitch.tv")

  if raid
    /* Raid banner */
    [data-test-selector="raid-banner"] [data-test-selector="raid-message"] > :not(:last-child) {
      display: none !important;
    }
    [data-test-selector="raid-banner"] [data-test-selector="raid-message"] > :last-child:before {
      content: "Raid " !important;
    }
    /* Raid chat message */
    div.user-notice-line div strong:last-of-type {
      display: none !important;
    }
